NODE_ENV: production
REDIS_HOST: redis://redis:6379

# Set the CORS origins.  If you're on localhost just set it to *
# FAUCET_CONFIG_API_CORS_ORIGINS=["*"]
# FAUCET_CONFIG_API_CORS_ORIGINS=["https://yourdomain.com"]
FAUCET_CONFIG_PRIVKEY="<signingAccountsPrivKey>"
FAUCET_CONFIG_TOKEN_CONTRACT_ADDRESS="<yourDeployedContractAddress>"
FAUCET_CONFIG_ETH_NODE_URL="http://localhost:8545"
