# Set the CORS origins.  If you're on localhost just set it to *
# FAUCET_CONFIG_API_CORS_ORIGINS=["*"]
# FAUCET_CONFIG_API_CORS_ORIGINS=["http://localhost:3000"]
# FAUCET_CONFIG_API_CORS_ORIGINS=["https://hippocrates.netlify.com", "https://app.medcredits.io"]
# FAUCET_CONFIG_PRIVKEY="<signing privkey>"
# FAUCET_CONFIG_MEDXTOKEN_CONTRACT_ADDRESS="<contract address>"
# FAUCET_CONFIG_ETH_NODE_URL="https://rinkeby.infura.io/<infura token>"
